uvicorn==0.41.0
bleak==2.1.1
fastapi==0.135.1
pydantic==2.13.0b2
python-dotenv==1.2.2
requests==2.32.5
pydantic-settings==2.13.1
sqlalchemy==2.1.0b1
asyncpg==0.31.0
greenlet==3.3.2

# Windows only
bleak-winrt==1.2.0; sys_platform == "win32"